@mixin flex($j:center,$a:center) {
    display: flex;
    justify-content: $j;
    align-items: $a;
}
div .container img{
    width: 100%;
}
#sky {
    transform: translateY(-70px);
}
#simpleText {
    font-size: 3em;
    z-index: 1;
    color: #fff;
    top: 300px;
}
#mountain0,#mountain1,#mountain2,#mountain3,#mountain4,#simpleText {
    position: absolute;
    right: 0;
    left: 0;
    transition: .6s;
    transition-timing-function: cubic-bezier(.29,1.64,.44,.83);
}
