*{
    list-style: none;
}
ul{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #000;
}
.wrapHead,
.wrapList {
    display: flex;
}
.wrapHead {
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1em;
    position: relative;
    z-index: 1;
}
.wrapHead div:last-child {
    width: 50%;
}
.wrapList{
    justify-content: flex-end;
}
.wrapList li{
    flex:1;
    font-size: 1.2em;
}