.App {
  text-align: center;
  background: rgb(239, 243, 248);
  overflow: hidden;
}


/* .App-link {
  color: #61dafb;
} */

body{
  background: rgb(239, 243, 248);
  font-family: 'Yantramanav', sans-serif;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
